@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
    margin-right: 0;
}

@layer components {
    body {
        @apply m-auto p-5 text-left w-full text-neutral-300 bg-neutral-900 break-words leading-6 antialiased;
        text-rendering: optimizeLegibility;
        scroll-behavior: smooth;
        word-wrap: break-word;
        width: 100%;
    }
}